*~
*#
.#*
.emacs.desktop
*.bak
*.log
Gemfile.lock
Gemfile.local
*.gem
## tools dirs
/.bundle/
/vendor*
/doc
/.yardoc
/coverage/
/pkg/
/spec/reports/
## other
/tmp/
/sandbox

# rspec failure tracking
.rspec_status

## GLib2/Gtk
# binary files from glib-compile-resources(1)
*.gresource
# binary files from glib-compile-schemas(1)
gschemas.compiled
